.project-list-btn {
  display: flex;
  justify-content: center;
}

.project-item-btn {
  margin-bottom: 50px;
}

.project-item-btn:not(:last-child) {
  margin-right: 8px;
}

.project-btn {
  height: 38px;
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: var(--font-size-main);
  line-height: 1.62;
  text-align: center;
  color: var(--second-btn-color);
  border-radius: 4px;
  border: none;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.project-btn:hover,
.project-btn:focus,
.project-btn:active {
  color: var(--main-btn-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
