:root {
  --main-btn-color: #ffffff;
  --second-btn-color: #212121;
  --accent-color: #2196f3;
  --main-title-color: #ffffff;
  --second-title-color: #212121;
  --main-text-color: #757575;
  --main-link-color: #212121;
  --background-color: #2f303a;
  --font-size-main: 16px;
  --font-size-second: 14px;
}

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
}
